@import "tailwindcss";

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  --custom-blue: #1f487e;
}

body {
  color: #1f487e;
}

.bod{
  border: 2px solid #295a99;
}
.child {
  background-color: #f9f9f9;
}
.homee {
  color: #1f487e;
}
.msg{
  width: fit-content;
}
/* .text{
  font-size: 12px;
} */
.view {
  background-color: #1f487e;
}
.color {
  background-color: #d9d9d9;
}

.box {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.cont {
  background-color: #1f487e;
  border: 2px solid rgba(44, 44, 44, 0.5);
  color: white;
  font-weight: 500;
  font-size: 20px;
}

input {
  outline: none;
}


.line{
  line-height: 30px;
}